@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

/*  ***************** Recomendados en los proyectos ***************** */

/* estilos que se le aplican al documento: hacks para mejorar estilos */
/*  los rems equivalen a 1 rem = 16px, se pueden cambiar de la sgt manera:; */
html {
    box-sizing: border-box;/* cuando se le añada un width y luego un paddin a un elemento no modificque su tamaño original*/
    font-size: 62.5%; /* 1 REM = 10PX*/
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2;/* espacio entre letra*/
    color: #2a2929;

}

/* ******************************************************************************************* */





/***************************** Definiendo estilos Globals *****************************************/

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    margin:0 0 5rem 0;/* eliminando el margin del texto que trae por defecto  por defecto*/
    text-shadow: 0.2rem 0.2rem 0.2rem #21212171;
}


h1{
font-size: 6rem;
}
h2{
    font-size: 4rem;

}
h3{
    font-size: 3rem;

}


/************ dando el ancho a la pagina  *****************/
a {
    text-decoration: none;
    color:#2a2929;
}



/************ dando el ancho a la pagina  *****************/
.contenedor {
    max-width: 120rem;
    /* manera tambien de centrar:  0 auto 0 auto ó margin inline 0 */
    /* margin: 0 auto; */
    margin-inline: auto;
}

/************ imagenes no se desborden *****************/
/* para que todas las imagenes no se desborden, esto hara que siempre sean relativas al tamaño del padre */
img{
    max-width: 100%;
    display: block;

}

/* ************ UTILIDADES : son clases que te serviran para  hacer cosas puntuales, centrar un texto, 
dar formato, color etc */

/* centrar textos */
.text-center {
    text-align: center;
}


/* botones & hover */


.bton{
    background-color: #f0c105;
    display: block;
    color: #2a2929;
    font-weight: 700;
    padding: 1rem;
    border-radius: .5rem;
    transition: background-color .3s ease-out;
}

.bton:hover{
    background-color: #d0a703;

}

/*****************************************************************************************************/









/* title y navigation */

.header-title {
    margin-top: 5rem;
    text-align: center;
    text-transform:capitalize ;
}
.header-title span {
    color: #037bc0
}




/*  ************** Navegacion ***************  */

.container-nav{
    border-top: 0.1rem solid #e1e1e1;
}


.nav-ppal {
    /* atajos */
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px; */

    /* atajos como las manecillas del reloj hacia la derecha el orden top rigth botton left */
    /* padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 20px; */
    /* padding: 50px 0 30px 20px; o tambien  */
    padding: 2rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ppal a {
    font-size: 2rem;
}

/*  ************** Imagen Background Hero 'HomePage' ***************  */

.hero {
    background-image: url('./assets/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;/* para posicionar la imagen en 'x' - 'y' solo los backgroundsimg: tambien center, right, left etc..*/
    height: 55rem;
}


/*  ************** CATEGORIAS  : APLICANDO GRID LAYOUT  ***************  */

.categorias{
    padding-top: 5rem;
}
.categorias h2{
    padding: 1.5rem;
}

.listado-categories {
    display: grid ;
    /* crea contenedores segun la cantidad que necesites columnas o filas:rows */
    /* grid-template-columns: 200px 200px 200px 200px ; */
    /* grid-template-rows: 100px  100px ; */


    /*  manera mas corta de hacerlo : 3 columnas de una fraccion igual  */

    grid-template-columns: repeat(3, 1fr) ;
    gap: 2rem;
    /* background-color: aquamarine; */
}

/* recuerda que los 'a' tienen un display inline o no se pueden alinear, si se cambia a display block si */
.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    transition: 0.3s;
}



/*  ************** ABOUT  : APLICANDO FLEXBOX  ***************  */


/* paso 1  */
.sobre-nosotros{
    /* para aplicar un lienar gradient: de izquierda a derecha, esto puede varias segun la necesidad
    en este caso es: de izquierda a derecha, el 50% va a ser negro y apartir del 51% va aser rojo
    background-image: linear-gradient(to right, black 50%, red 100%);
    tambien para cortar y que se vea una claro corte de color es:
    background-image: linear-gradient(to right, black 50%, red 50% red 100%);
    para que apartir del 50% sea rojo esto sirve para dividir en dos colores y al final se le agrega la imagen que se quiere 
    */
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%),url('./assets/nosotros.jpg');
    padding: 10rem 0;
    background-position: left center;/* posicion dentro de la imagen url que se quiere mostrar*/
    background-repeat: no-repeat;/* todas las imagenes se repiten por defecto, con esto no lo hara*/
    background-size: 100%, 130rem;/* para organizar los tamaños, recordar que se tienen dos imagenes, el gradient y la url, se dice que la primera se muestre al 100% y la otra solo 120rem*/
    margin-top: 3rem;
}

/* **** CON GRID ***** */
/* paso 2  */

/* Aplicamos grid para dividir el contenido, para ello tenemos solo un hijo 'div' para que ocupe solo una casiila de las dos creadas */
/* column-gap: 8rem; espaciado del texto con la columna*/
/* .sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
} */

/* paso 3  */

/* aqui posicionamos el contenido sobre la casilla que se quiere ubicar */
/* que se posiscione en la columna 2 a la 3 */ 
/* .texto-nosotros{
    grid-column: 2 / 3;
    color: #fff;
} */

/*  HACIENDO EL PASO 2 Y 3 CON FLEXBOX */

.sobre-nosotros-grid{
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros{
    flex-basis: 40%;/* ancho del elemento*/
    /* padding-left: 10rem; */
    color:#fff;
}

/* CUANDO USAR GRID O FLEXBOX:
    FLEXBOX: cuando necesites posicionar elementos dentro de un contenedor.
    GRID: para crear los contenedores, hacer el grid layout de nuestra pagina. el diseño de las contenedores
*/




/*  *************************************************** PRODUCTOS  : APLICANDO GRID LAYOUT   *******************************************  */


.contenido-principal{
    padding-top: 5rem;
}




/* ****************** Creando el Grid del Listado **************************** */
.listado-productos{
display: grid;
grid-template-columns: repeat(6, 1fr);/* creara 7 | | | | | | | lineas dentro de ellas iran los elementos*/
column-gap: 2rem;
row-gap: 2rem;
}

/*  seleccionamos el primero para que tome desde la columna 1 a la 7 */
.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    /* dividiendo internamente una columna con su contenido: dependiendo tu diseño, puedes aplicar un nuevo grid a un elemento seleccionado, y que contenga mas elementos internos, aqui tomara la imagen 3 partes y el texto 1  */
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/* utilizamos el object fit: cover para que la imagen tome todo el espacio disponible sin deformarse */
.producto:nth-child(1) img{
    height: 50rem;
    width: 100%;
    object-fit: cover;
}

/*  seleccionamos el segundo para que tome desde la columna 1 a la 4 */
.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}
.producto:nth-child(2) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

/*  seleccionamos el tercero para que tome desde la columna 4 a la 7 */
.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

/*  seleccionamos el cuarto para que tome desde la columna 1 a la 3 */
.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}


/*  seleccionamos el quinto para que tome desde la columna 3 a la 5 */
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}


/*  seleccionamos el sexto para que tome desde la columna 5 a la 7 */
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}

/* *************************************************************************** */



.producto{
background-color: #037bc0;
}

/* aplicando animaciones a una imagen */

/* .producto img{
    transition: transform .3s ease-out;
    border-radius: 1.5rem;
}

.producto img:hover{
    transform: scale(.9)
} */


.texto-producto{
    text-align: center;
    color: #fff;
    padding: 3rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p {
    margin: 0 0 0.5rem 0;
}
.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 700;
}

/* *************************************** FOOTER  GRID  ******************************************* */

.site-footer{
    border-top: .1rem solid #e1e1e1;
    margin-top: 5rem;
    padding: 5rem;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.site-footer h3{
    margin-bottom: .5rem;
}

.footer-menu{
    display: flex;
    flex-direction: column;
}
.copyright {
    margin-top: 5rem;
    text-align: center;
    font-weight: 300;
}